<link rel="stylesheet" type="text/css" href="css/style.css" />

<div class="user">
  <header class="user__header">
    <img
      src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3219/logo.svg"
      alt=""
    />
    <h1 class="user__title">A lightweight and simple sign-up form</h1>
  </header>

  <form action="/register" method="POST">
    <div class="form__group">
      <label for="name">Name</label>
      <input
        class="form__input"
        type="text"
        placeholder="Username"
        id="name"
        name="name"
        required
      />
    </div>

    <div class="form__group">
      <label for="email">Email</label>
      <input
        class="form__input"
        type="email"
        placeholder="Email"
        id="email"
        name="email"
        required
      />
    </div>

    <div class="form__group">
      <label for="password">Password</label>
      <input
        class="form__input"
        type="password"
        id="password"
        name="password"
        required
      />
    </div>

    <button class="btn" type="submit">Register</button>
  </form>
  <a class="btn-lag" href="/login">Login</a>
</div>
